.contenedorDeliciasDul{
    h2{
        margin: 15px;
    }
    .contenedorTortasClasicas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2rem;
    img{
        width:auto;
        height:250px;
    }
    .card{
        font-size: 0.9rem;
        box-shadow: 0px 0px 10px;
        width:302px;
        height:330px;
        margin: 10px;
    }
    .modalDul{
        display: none;
    }
}
}