main{
    h2, h3{
        text-align: center;
        padding: 5px;
    }
    .imagenDulc{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .imagenClienteFelices{
            padding: 10px;
            img{
                box-shadow: 0px 0px 10px;
            }
        }
    }
}