@media only screen and (max-width: 768px){
    body{
    header{
        .tituloDul{
            height: 70px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            .tituloDulImgContenedor{
                .imgUno{
                    position: relative;
                    left: -17px;
                }
                .imgDos{
                    position: relative;
                    left: 17px;
                }
    
            .tituloDulImg{
                position: relative;
                top: -45px;
                height: 150px;
                width: 115px;
            }
            }
            .tituloDulCartel{
                margin-top: 1.8rem;
                height: 50px;
                width: 400px;
                .tituloDulCartelUno{
                    top: 1rem;
                    height: 0.5rem;
                    width: 0.5rem;
                }
                .titulo{
                    padding-top: 5px;
                    font-size: 20px;
                    }
            }
        }
        .navBarDul{
            .tituloContenedor{
                    font-size: 35px;
            }
        }
    
     nav{
        .navBarDulSeis{
            height: 100px;
        }
         .navBarDulUno{
             .navBarDulDos{
                 .navBarDulTres{
                     .navBarDulCuatro{
                         display:flex;
                         flex-direction: column;
                         flex-wrap: nowrap;
                     }   
                 }
             }
         }
    }
    }
    }
 
 // index

 main{
    .mainDul{
        padding: 25px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px  150px ;
        grid-template-areas: "imgUno imgUno"
        "imgDos imgTres";
        grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    .mainDulUno{
        grid-area: imgUno;
        .dulTortasUno{
            height: 20%;
            padding-top: 0.5rem;
            top:90%;
    }
    .dultortadDos{
        padding-top: 5rem;
      }
    .dultortadDos{
        padding-bottom: 1rem;
        top:85%;
        transform: translate(-90%, -85%);
      }  
    }
    .mainDulDos{
        grid-area: imgDos;
    }
    .mainDulTres{
        grid-area: imgTres;
    }
    .mainDulDos, .mainDulTres{
        .dulTortasUno{
            height: 30%;
            padding-top: 0.30rem;
            top:90%;
            h2{
                font-size: 1rem;
                text-align: left;

            }
    }
    .dultortadDos{
        padding-top: 6rem;
        text-align: right;
        padding-left: 100px;
        .dulceBoton{
            height: 40px;
            width: 30px;
        }
      }
    }
    }
    .redesDul{
        font-size: 1.8rem;
      }
    .redesDulUno{
        .redesDulPadre{  
            margin: 20px;    
          .redesDulDos{
            width: 200px;
            height: 250px;
            .redesDulDosCara{
                .imgDulRedes{
                    width: 80px;
                    height: 80px;
                }
                h4{
                    font-size: 24px;
                }
            }
            .redesDulDosDorso{            
                .redesDulDosDorsoCuerpo{
                    padding: 30px;
                  div{
                   img{
                     height: 100px;
                     width: 100px;
                   }
                  }
                  p{
                    font-size: 20px;
                  }
              }
            }
          }

        }
    }

}
}

//footer

// footer{
//     .dulceFooter{
//         max-width: 0;;
//         margin: 0;
//         display: grid;
//         grid-template-columns: 50% 50%;
//         grid-template-rows: 33% 33% 33%;
//         grid-template-areas:"footerUno footerUno"
//         "footerDos footerTres"
//         "footerCuatro";
//         .cajaSecciones{
//             grid-area: footerUno;
//             color:red;
//         }
//         .cajaQuienSoy{
//             grid-area: footerDos;
//             background-color:red
//         }
//         .cajaRedes{
//             grid-area: footertres;
//         }
//         .cajaPagos{
//             grid-area: footerCuatro;
//         }
//     }
// }
//}



 @media only screen and (min-width: 1370px){

    //Delicias

  main{
    .contenedorDeliciasDul{
        .contenedorTortasClasicas{
            margin-left: 5rem;
            .card{
                margin: 20px;
            }
        }
    }
  }


 // quien soy?
 main{
    .contenedorQuienSoy{
        grid-template-columns: 60% 40%;
        grid-template-rows: 500px;
        .cajaUnoQuienSoy{
            p{
                margin: 50px;
            }
        }
    }
 }

 //index

main{
    .mainDul{
        margin: 5rem;
        grid-template-columns: 50% 40%;
      grid-template-rows: 20rem 20rem;
    }
}

// footer
footer{
    .dulceFooter{
        max-width:1600px
    }
    .dulceCopyright{
        max-width: 1600px;
    }
}
}
